{% extends "layout.html" %}

{% block body %}

<div class="feed-main">
    <div class="feed-left">
      <div class="home-panel"><img src="https://uploads-ssl.webflow.com/6568fc7d4905c7f7dab01381/657c8e6c23435c524bf1939c_Vectors-Wrapper.svg" loading="lazy" width="244" height="27" alt="" class="vectors-wrapper-16">
        <div class="text-5">Home</div>
        <div class="topic-template"><img src="https://uploads-ssl.webflow.com/6568fc7d4905c7f7dab01381/657c8e6de03de0e69ed04055_image-1.png" loading="lazy" width="21" height="21" alt="" class="image-1">
          <div class="topic-text">Feed</div>
        </div>
        <div class="topic-template"><img src="https://uploads-ssl.webflow.com/6568fc7d4905c7f7dab01381/657c8e6d8f35084e241ce7d6_image-1.png" loading="lazy" width="21" height="21" alt="" class="image-1">
          <div class="topic-text">Library</div>
        </div>
        <div class="topic-template"><img src="https://uploads-ssl.webflow.com/6568fc7d4905c7f7dab01381/657c8e6ee03de0e69ed0414e_image-1.png" loading="lazy" width="21" height="21" alt="" class="image-1">
          <div class="topic-text">See More</div>
        </div>
      </div>
      <div class="priority-subject-panel">
        <div class="text-5">Priority Subjects</div>
        <div class="topic-template"><img src="https://uploads-ssl.webflow.com/6568fc7d4905c7f7dab01381/657c8e811f7c830c2214a0ef_image-1.png" loading="lazy" width="21" height="21" alt="" class="image-1">
          <div class="topic-text">Python</div>
        </div>
        <div class="topic-template"><img src="https://uploads-ssl.webflow.com/6568fc7d4905c7f7dab01381/657c8e82096d3c48a699b554_image-1.png" loading="lazy" width="21" height="21" alt="" class="image-1">
          <div class="topic-text">Unreal Engine</div>
        </div>
        <div class="topic-template"><img src="https://uploads-ssl.webflow.com/6568fc7d4905c7f7dab01381/657c8e83d5a37958197d7e46_image-1.png" loading="lazy" width="21" height="21" alt="" class="image-1">
          <div class="topic-text">Deep Learning</div>
        </div>
        <div class="topic-template"><img src="https://uploads-ssl.webflow.com/6568fc7d4905c7f7dab01381/657c8e832d059a5c9dd0c3a8_image-1.png" loading="lazy" width="21" height="21" alt="" class="image-1">
          <div class="topic-text">Game Design</div>
        </div>
        <div class="topic-template"><img src="https://uploads-ssl.webflow.com/6568fc7d4905c7f7dab01381/657c8e84240cd916bcebab24_image-1.png" loading="lazy" width="21" height="21" alt="" class="image-1">
          <div class="topic-text">UI Design</div>
        </div>
      </div>
      <div class="subject-group-panel">
        <div class="text-5">Subject Groups</div>
        <div class="topic-template"><img src="https://uploads-ssl.webflow.com/6568fc7d4905c7f7dab01381/657c8ea34f608e54319fe82a_image-1.png" loading="lazy" width="21" height="21" alt="" class="image-1">
          <div class="topic-text">Programming</div>
        </div>
        <div class="topic-template"><img src="https://uploads-ssl.webflow.com/6568fc7d4905c7f7dab01381/657c8ea5ca35eb31f42cc915_image-1.png" loading="lazy" width="21" height="21" alt="" class="image-1">
          <div class="topic-text">Machine Learning</div>
        </div>
        <div class="topic-template"><img src="https://uploads-ssl.webflow.com/6568fc7d4905c7f7dab01381/657c8ea6ece54924f0341905_image-1.png" loading="lazy" width="21" height="21" alt="" class="image-1">
          <div class="topic-text">Science</div>
        </div>
        <div class="topic-template"><img src="https://uploads-ssl.webflow.com/6568fc7d4905c7f7dab01381/657c8ea772840122876552eb_image-1.png" loading="lazy" width="21" height="21" alt="" class="image-1">
          <div class="topic-text">Physics</div>
        </div>
        <div class="topic-template"><img src="https://uploads-ssl.webflow.com/6568fc7d4905c7f7dab01381/657c8ea8f257d05aea651618_image-1.png" loading="lazy" width="21" height="21" alt="" class="image-1">
          <div class="topic-text">Biology</div>
        </div>
        <div class="topic-template"><img src="https://uploads-ssl.webflow.com/6568fc7d4905c7f7dab01381/657c8ea8816f74f117b8526a_image-1.png" loading="lazy" width="21" height="21" alt="" class="image-1">
          <div class="topic-text">Game Development</div>
        </div>
        <div class="topic-template"><img src="https://uploads-ssl.webflow.com/6568fc7d4905c7f7dab01381/657c8ea9096d3c48a699ddca_image-1.png" loading="lazy" width="21" height="21" alt="" class="image-1">
          <div class="topic-text">Content Creation</div>
        </div>
      </div>
      <div class="other-group-panel">
        <div class="text-5">Other</div>
      </div>

      
    </div>
    <div class="feed-middle">
      <div>
        <div class="central-panel-header">
          <div class="frame-23"><img src="https://uploads-ssl.webflow.com/6568fc7d4905c7f7dab01381/65776aeb1f6fc0c7ed6e8841_Vectors-Wrapper.svg" loading="lazy" width="65" height="65" alt="" class="vectors-wrapper-18"></div>
          <div class="frame-25">
            <div class="feed-item-heading-2">
              <div class="text-8">Norse Mythology</div>
            </div>
            <div class="text-card-text-layout">
              <div class="text-7">Norse mythology is a rich and intricate tapestry of stories and beliefs that were held by the ancient Norse people.</div>
            </div>
          </div>
        </div>
      </div>
      <div></div>
    </div>
    <div class="feed-right">
      <div class="div-block-2"></div>
      <div class="div-block-3"></div>
      <div class="div-block-4">
        <div class="chat-bot"><img src="https://uploads-ssl.webflow.com/6568fc7d4905c7f7dab01381/65776af1943ab390a72acf31_Vectors-Wrapper.svg" loading="lazy" width="438" height="464" alt="" class="vectors-wrapper-19"><img src="https://uploads-ssl.webflow.com/6568fc7d4905c7f7dab01381/657c92b7c1cf2170cda0f168_Vectors-Wrapper.svg" loading="lazy" width="436" height="58" alt="" class="vectors-wrapper-20">
          <div class="chat-frame"><img src="https://uploads-ssl.webflow.com/6568fc7d4905c7f7dab01381/657c931f3401ca8dacbf8125_Vectors-Wrapper.svg" loading="lazy" width="389" height="1294" alt="" class="vectors-wrapper-19"></div><img src="https://uploads-ssl.webflow.com/6568fc7d4905c7f7dab01381/657c92b93401ca8dacbf73b5_Vectors-Wrapper.svg" loading="lazy" width="26.640987396240234" height="30.67768669128418" alt="" class="vectors-wrapper-21"><img src="https://uploads-ssl.webflow.com/6568fc7d4905c7f7dab01381/65776b0f443c1c342eb42895_Vectors-Wrapper.svg" loading="lazy" width="22" height="404" alt="" class="vectors-wrapper-22">
        </div>
      </div>
    </div>
  </div>

{% endblock %}

