{% extends "layout.html" %}

{% block body %}

  <div class="feed-main">
    
    <div class="feed-left">
    </div>

    <div class="feed-middle">
      <div class="feed-title">
        <h1>Feed</h1>
      </div>

      <h1>Data Display</h1> 
      <div class="table-container">
  
        {% for subject in subjects %} 
        <h2>Subject: {{ subject.subject_name }}</h2>
        
          <table>
                <tr>
                    <th>Topic ID</th>
                    <th>Topic Name</th>
                </tr>
                {% for topic in subject.topics %}
                <tr class="topic">
                    <td>{{ topic.topic_id }}</td>
                    <td>{{ topic.topic_name }}</td>
                </tr>
                    {% for concept in topic.concepts %}
                    <tr class="concept">
                        <td colspan="2">Concept: {{ concept.concept_name }}</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </table> 
        {% endfor %}
      </div>
    
    </div> 

    <div class="feed-right">
    </div>
  </div>


          
<!-- <form action="/" method="post" enctype="multipart/form-data">
  <input type="file" name="file">
  <input type="submit" value="Upload">
</form> -->
<!-- <h1>Products</h1>
<ul>
    {% for product in products %}
        <li>{{ product.product_name }} - ${{ product.price }}</li>
    {% endfor %}
</ul> -->
    
      
        


{% endblock %}