{% extends "layout.html" %}

{% block body %}

  <div class="home-hero">
    <div class="hero-blank-1">
    </div>
    
    <div class="hero-main">
      <div class="home-link-icon"><img src="https://uploads-ssl.webflow.com/6568fc7d4905c7f7dab01381/65777f453b13b5a961561a1f_Vectors-Wrapper.svg" loading="lazy" width="158.02928161621094" height="186.00006103515625" alt="" class="vectors-wrapper-9"></div>
      <div class="cerebro-title">
        <div class="text">CEREBRO</div>
      </div>
      <div class="cerebro-subtitle">
        <div class="text-2">Your Personalised Tutor</div>
      </div>
      <div class="search-bar">
        <div class="chat-bar"><img src="https://uploads-ssl.webflow.com/6568fc7d4905c7f7dab01381/65777f46df474d1ff5a78b00_Vectors-Wrapper.svg" loading="lazy" width="576.5" height="37.41935348510742" alt="" class="vectors-wrapper-10"></div>
      </div>
    </div>
    <div class="hero-blank-1">
      <svg width="200" height="600"></svg>
    </div>
  </div>
  <div class="home-lower">
    <div class="home-lower-buttons">
      <div class="home-lower-blank"></div>
      <div class="home-lower-button-frame">
        <a href="https://www.google.ie/" target="_blank" class="feed-item-heading w-inline-block">
          <div class="text-3">Continue</div>
        </a>
        <div class="feed-item-heading">
          <div class="text-3">Explore</div>
        </div>
      </div>
      <div class="home-lower-blank-2"></div>
    </div>
    <div class="home-lower-screen-nav">
      <div class="home-lower-blank-3"></div>
      <div class="home-lower-screen-nav-buttons">
        <div class="learn">
          <div class="text-4">Learn</div><img src="https://uploads-ssl.webflow.com/6568fc7d4905c7f7dab01381/65777f474deb5d256b5f73f5_Vectors-Wrapper.svg" loading="lazy" width="70" height="69.85746765136719" alt="" class="vectors-wrapper-11">
        </div>
        <div class="learn">
          <div class="text-4">See Your Progress</div><img src="https://uploads-ssl.webflow.com/6568fc7d4905c7f7dab01381/65777f47c9e322147a53b3df_Vectors-Wrapper.svg" loading="lazy" width="70.56206512451172" height="71.00009155273438" alt="" class="vectors-wrapper-12">
        </div>
        <div class="learn">
          <div class="text-4">Explore Your Knowledge</div><img src="https://uploads-ssl.webflow.com/6568fc7d4905c7f7dab01381/65777f48a6f7e317f898df98_Vectors-Wrapper.svg" loading="lazy" width="75.5" height="73.74418640136719" alt="" class="vectors-wrapper-13">
        </div>
        <div class="learn">
          <div class="text-4">Test Yourself</div><img src="https://uploads-ssl.webflow.com/6568fc7d4905c7f7dab01381/65777f484e1ef34a1665537c_Vectors-Wrapper.svg" loading="lazy" width="68" height="68" alt="" class="vectors-wrapper-14">
        </div>
        <div class="learn">
          <div class="text-4">Explore Scenarios</div><img src="https://uploads-ssl.webflow.com/6568fc7d4905c7f7dab01381/65777f491e73c72a0183ae3e_Vectors-Wrapper.svg" loading="lazy" width="73" height="72" alt="" class="vectors-wrapper-15">
        </div>
      </div>
      <div class="home-lower-blank-3"></div>
    </div>
    <div class="home-lower-blank-4"></div>
  </div>

{% endblock %}